.display-zone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-zone__subtitle {
    font-weight: bold;
    margin-top: 15px;
    color: rgba(194, 71, 46, 1);
    margin-bottom: 10px;
    text-align: center;
}

.display-zone__list {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}